<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/navigation %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Everybody likes Redis</h2>
            <p>Welcome to our Posts-Exchange website</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>